html, body{
    margin: 0;
    padding: 0;
}

/* === header === */

.header-background{
    background-image: url(https://jooinn.com/images/home-11.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    padding: 30px 0 0;
    opacity: 1;
    visibility: inherit;
    opacity: 1;
    z-index: -1;

}

.header-background-2{
    background-image: url();
    background-color: #787878;
    background-size: cover;
    width: 100vw;
    height: 20vh;
    padding: 30px 0 0;
    opacity: 1;
    visibility: inherit;
    opacity: 1;
    z-index: -1;
}

.header-row {
    display: flex;
    flex-direction: row;
    margin: 0 30px 100px 30px;
    justify-content:space-between;
}

.company-brand{
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.company-brand img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-position: bottom;
}

.company-name{
    margin-left: 10px;
    margin-right: 5px;
    font-family: "Playfair Display" !important;
    color: #00a8db !important;
    text-shadow: 1px 1px #000;
    font-style: italic;
    font-weight: bolder;
}

.company-title{
    font-size: 40px;
}

.company-subtitle{
    font-size: 23px;
}

.nav-panel{
    position: relative;
    margin-bottom: 15px;
}

.phone-element{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    font-family: "Verdana", Geneva, sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #00a8db !important;
    text-shadow: 1px 1px #000;
}

.phone-element a{
    text-decoration: none;
    padding-right: 5px;
    padding-left: 5px;
    color: #00a8db !important;
}

nav ul{
    position: relative;
    display: flex;
    flex-direction: row;
}

nav a{
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 15px;
    color: #00a8db !important;
    text-shadow: 1px 1px #000;
}

nav a:hover{
    font-size: 120%;
    border-bottom: 2px solid #00a8db !important;
}

/* ==/ responsive - header, nav /== */

@media only screen and (max-width: 1199px) {
    .header-row{
        flex-direction: column;
        margin: 0 30px;
    }
    nav ul{
        width: 100%;
        flex-direction: column;
        font-size: 25px;
    }
    nav ul li a{
        background: rgba(0, 0, 0, 0.5);
        opacity: 1;
    }
    .phone-element{
        width: 100%;
        height: 30px;
        margin-top: 20px;
        background: rgba(0, 0, 0, 0.5);
        opacity: 1;
    }
}

@media only screen and (max-width: 991px){
    .header-row{
        margin: 0 30px;
    }
    .nav-panel, .company-brand{
        width: 100%;
        margin: 0;
    }
    nav ul li{
        width: 60%;
    }
    nav ul li a{
        background: rgba(0, 0, 0, 0.5);
        opacity: 1;
    }
}


/* === content-centered === */

.content-centered{
    position: relative;
    display: block;
    max-width: 70%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #00a8db;
    opacity: 1;
    font-family: 'Old Standard TT', serif !important;
    text-transform: none !important;
    text-shadow: 2px 2px #000;
    font-style: italic;
    font-weight: bolder;
    font-size: 70px;
}

/* ==/ responsive - content-centeerd /== */

@media only screen and (max-width: 1199px){
    .content-centered{
        flex-direction: column;
        bottom: 120px;
        left: 70px;
        z-index: 999;
    }
    .header-row {
        margin: 0 30px;
    }
}

@media only screen and (max-width: 991px){
    .content-centered{
/*        margin: 0;*/
        font-size: 55px;
        bottom: 120px;
        left: 70px;
        z-index: 999;
    }
}

@media only screen and (max-width: 767px){
    .content-centered{
        width: 50%;
        font-size: 35px;
        bottom: 180px;
        left: 70px;
        z-index: 999;
    }
}




main{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;

}

/* === form / contacts === */

section{
    width: 545px;
    margin: 80px 80px;
}

section h4 {
    font-family: "Verdana", Geneva, sans-serif;
    color: #000;
    letter-spacing: 1px;

}

section p{
    font-family: "Verdana", Geneva, sans-serif;
    color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2{
    font-family: "Verdana", Geneva, sans-serif;
    letter-spacing: 1px;
}

.title-wrap{
    width: 80px;
    border-bottom: 2px solid #00a8db !important;
}

title-wrap2{

}


.form-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 30px auto;
}

.form-name, .form-surname,
.form-email, .form-phone{
    width: 45%;
    height: 30px;
    padding: 10px;
    border-radius: 2px;
}

.form-subject{
    width: 100%;
    height: 30px;
    padding: 10px;
    border-radius: 2px;
}

textarea{
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 2px;
}

.button{
    width: 150px;
    height: 45px;
    background: #00a8db !important;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    border-radius: 2px;
    letter-spacing: 2px;
}

.button, input, textarea {
    font-family: "Verdana", Geneva, sans-serif;
    font-size: 16px;
    line-height: 1.7;
}




/* === footer === */

.footer-row {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content:space-around;
    font-weight: lighter;
}

.footer-row a{
    text-decoration: none;
    color: #fff;
}

.footer-row a:hover{
    color: #00a8db !important;
}
.footer-top-wrap{
    background-color: #657076 !important;
}

h4, p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Verdana", Geneva, sans-serif;
    font-size: 15px;
    font-weight: lighter;
    color: #fff;
}

.footer-bottom-wrap{
    background-color: #303d45 !important;
}

.span1{
    width: 25%;
    padding: 0;
}
    ul{
        padding: 0;
        list-style: none;
    }

    ul li a{
        text-decoration: none;
        font-family: "Verdana", Geneva, sans-serif;
        font-size: 15px;
        letter-spacing: 1px;
    }

    ul li a:hover{
        font-size: 110%;
        color: #00a8db !important;
    }

.span2{
    width: 25%;
    padding: 0;
}

    .footer-news{
        margin-bottom: 5px;
        margin-top: 5px;
        font-family: "Verdana", Geneva, sans-serif;
    }


    h5{
        margin-bottom: 5px;
        margin-top: 5px;
        color: #fff;
    }

    h5 a{
        text-decoration: none;
        font-size: 12px;
        font-weight: lighter;
    }

    h5 a:hover{
        color: #00a8db !important;
    }

    .footer-news-date{
        margin-bottom: 10px;
        font-size: 12px;
        color: #b6bdc2;
    }

.span3{
    width: 25%;
    padding: 0;
}

    .span3 p{
        color: #fff;
    }

    .social-links{
        border-top: 1px solid #00a8db !important;
    }

    a img{
        padding-top: 15px;
    }

    /* ==/ Responsive - footer /== */

@media only screen and (max-width: 767px){
    .footer-row {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
}
    .span1, .span2, .span3{
        width: 90%;
        margin: 0 auto;

    }
    .span2, .span3{
        border-top: 1px solid #00a8db !important;
    }


}







/* == Responsive-breakpoints == */

    /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}
@media only screen and (max-width: 767px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}
@media only screen and (max-width: 991px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}
@media only screen and (max-width: 1199px) {...}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}





