h1{
    color: deeppink;
    font-family: sans-serif;
}

h2{
    color: deeppink;
    font-family: sans-serif;
    font-size: 18pt;
}

p{
    font-family: sans-serif
}

.italic{
    font-style: italic;
}
